{% macro nav_li(endpoint, name) %}
	{%- if url_for(endpoint) == request.script_root + request.path -%}
		<li class="active"><a href="{{ url_for(endpoint) }}">{{ name|safe }}</a></li>
	{%- else -%}
		<li><a href="{{ url_for(endpoint) }}">{{ name|safe }}</a></li>
	{%- endif -%}
{% endmacro %}<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}UNTITLED{% endblock %} | Houston</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet" />
	{% block css %}<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />{% endblock %}
</head>
<body class="{% block body_classes %}{% endblock %}">
	{% block base %}{% endblock %}
	{% include "google_analytics.html" %}
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
</body>
</html>
