<ul class="breadcrumb">
	<li><a href="{{ url_for('project', slug=issue.project.slug) }}">{{ issue.project.name }}</a> <span class="divider">/</span></li>
	<li>Issue</li>
</ul>
<h2>{{ issue.title }}</h2>
<p class="muted">
	Spotted by <a href="{{ url_for('user', username=issue.spotter.username) }}">{{ issue.spotter.username }}</a>,
	<abbr title="At {{ issue.spotted.strftime('%H:%M, %d %b %Y') }}">{{ issue.spotted|relative_timestamp }} ago</abbr>
</p>
<p class="muted urgency-{{ issue.urgency }}">
	{{ issue.urgencies[issue.urgency] }}
</p>
<hr />
{{ issue.text|markdown }}
