{% extends "base_.html" %}
{% block title %}Register{% endblock %}
{% block body_classes %}login-body{% endblock %}
{% block base %}
	<div class="container">
		<form action="." method="POST" class="login-form">
			<header class="clearfix">
				<h2 class="pull-left">Register</h2>
				<small><a href="{{ url_for('login') }}" class="pull-right">Already have an account?</a></small>
			</header>
			
			{% for field in form %}
				{% if field.type == 'CSRFTokenField' or field.type == 'HiddenField' %}
					{{ field }}
				{% elif field.type == 'BooleanField' %}
					<label class="checkbox">
						{{ field }} {{ field.label.text}}
					</label>
				{% else %}
					<div class="control-group{% if field.errors %} error{% endif %}">
						<div class="controls">
							{% if field.errors %}
								{% for error in field.errors %}<small class="text-error">{{ error }}</small>{% endfor %}
							{% endif %}
							{{ field(placeholder=field.label.text, class='input-block-level') }}
						</div>
					</div>
				{% endif %}
			{% endfor %}
			
			<input type="submit" class="btn btn-primary" value="Register" />
		</form>
	</div>
{% endblock %}
