<ul class="nav nav-pills nav-stacked">
	{% block sidebar %}
	<!-- General -->
	<li><a href="{{ url_for('home') }}">Home</a></li>
	
	<!-- Account -->
	<li class="nav-header">Account</li>
	{% if current_user.is_anonymous() %}
	<li><a href="{{ url_for('login') }}">Log in</a></li>
	{% else %}
	<li><a href="{{ url_for('user', username=current_user.username) }}">{{ current_user.username }}</a></li>
	<li><a href="#">My Issues</a></li>
	<li><a href="{{ url_for('logout') }}">Log out</a></li>
	{% endif %}
	
	<!-- Projects -->
	<li class="nav-header">Projects</li>
	{% for project in projects %}
		<li><a href="{{ url_for('project', slug=project.slug )}}">{{ project.name }}</a></li>
	{% endfor %}
	
	{% endblock %}
</ul>
<hr class="visible-phone" />
